<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="LocalCon" connectionString="User ID=sa;Password=sa@123#;Initial Catalog=DekiWSPacking;Data Source=DESKTOP-5N04O55;TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="APIUrl" value="http://BARCODEUAT:7048/BC190/ODataV4/Company('DEKI%20ELECTRONICS%20LTD')/"/>
		<add key="APIUser" value="administrator"/>
		<add key="APIPassword" value="CMk95*@$46@"/>
	</appSettings>
</configuration>
